

.restaurant_box {
    width: calc(100% - 344px);
    display: flex;
    flex-direction: column;
}

.restaurant_box_img {
    object-fit: cover;
    height: 222px;
    width: 100%;
}

.topnav {
    height: 74px;
    background-color: #FF8000;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket_box {
    width: 400px;
}

.category_bar {
    background-color: #FF8000;
}

.dishes {
    background-color: white;
}

.headline_medium {
    font-size: 21px;
}

.ftc_orange {
    color: #FF8000;
}

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic;
}

.fs_small {
    font-size: small;
}

.fs_xsmall {
    font-size: x-small;
}

.dish_hover:hover {
    background-color: #ff800033;
}

.rating_front {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute!important;
    top: 0;
    left: 0;
}

.rating_bg {
    height: 94%;
    width: 48%;
    z-index: 4;
    position: absolute!important;
    top: 3%;
    left: 0%;
    background-color: #FF8000;
}

.rating_bg2 {
    height: 94%;
    width: 100%;
    z-index: 3;
    position: absolute!important;
    top: 3%;
    left: 0%;
    background-color: rgb(150, 150, 150);
}

.to-do {
    background-color: #0026ff;
}


.responsive_handy_basket_box {
    display: none;
}





.b_0{
    bottom: 0% !important;
}

@media screen and (max-width: 800px) {

    .basket_box {
        display: none;
    }

    .restaurant_box {
        width: 100%;

    }

    .responsive_handy_basket_box {
        z-index: 1001;
        height: 100%;
        width: 100%;
        position: fixed;
        display:unset !important;
        background-color: white;
        overflow: hidden;
        bottom: -93%;
    }


    


    .responsive_handy_basket_btn {
        width: 100% !important;
        height: 10%!important;
        padding: 16px;
    }
    .responsive_handy_basket_content {
        padding: 60px;
        width: 100% !important;
        height: 90% !important;
    }

}

