.content_box{
    display: flex;
    flex-direction: row;
}

.restaurant_box{
    width: calc(100% - 344px);
    display: flex;
    flex-direction: column ;
    height:2000px;
}

.restaurant_box_img{
    object-fit: cover;
    height:222px;
    width: 100%;
}

.topnav {
    height: 74px;
    background-color: #FF8000;
    padding-left:32px;
    padding-right:32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket_box {

    width: 344px;


}

.category_bar{
    height: 74px;
    background-color: lightblue;
}

.dishes{
    background-color: white;
}

.headline_medium{
    font-size: 21px;
}

.ftc_orange{
    color: #FF8000;
}

.bold{
    font-weight: bold !important;
}

.italic{
    font-style: italic;
}

.dish_hover:hover {
    background-color: #ff800033;
}