.cb_0 {
    color: rgba(0, 0, 0, 0.00);
}

.cb_5 {
    color: rgba(0, 0, 0, 0.05);
}

.cb_10 {
    color: rgba(0, 0, 0, 0.10);
}

.cb_15 {
    color: rgba(0, 0, 0, 0.15);
}

.cb_20 {
    color: rgba(0, 0, 0, 0.20);
}

.cb_25 {
    color: rgba(0, 0, 0, 0.25);
}

.cb_30 {
    color: rgba(0, 0, 0, 0.30);
}

.cb_35 {
    color: rgba(0, 0, 0, 0.35);
}

.cb_40 {
    color: rgba(0, 0, 0, 0.40);
}

.cb_45 {
    color: rgba(0, 0, 0, 0.45);
}

.cb_50 {
    color: rgba(0, 0, 0, 0.50);
}

.cb_55 {
    color: rgba(0, 0, 0, 0.55);
}

.cb_60 {
    color: rgba(0, 0, 0, 0.60);
}

.cb_65 {
    color: rgba(0, 0, 0, 0.65);
}

.cb_70 {
    color: rgba(0, 0, 0, 0.70);
}

.cb_75 {
    color: rgba(0, 0, 0, 0.75);
}

.cb_80 {
    color: rgba(0, 0, 0, 0.80);
}

.cb_85 {
    color: rgba(0, 0, 0, 0.85);
}

.cb_90 {
    color: rgba(0, 0, 0, 0.90);
}

.cb_95 {
    color: rgba(0, 0, 0, 0.95);
}

.cb_100 {
    color: rgba(0, 0, 0, 1);
}

.cb_bg_0 {
    background-color: rgba(0, 0, 0, 0.00);
}

.cb_bg_5 {
    background-color: rgba(0, 0, 0, 0.05);
}

.cb_bg_10 {
    background-color: rgba(0, 0, 0, 0.10);
}

.cb_bg_15 {
    background-color: rgba(0, 0, 0, 0.15);
}

.cb_bg_20 {
    background-color: rgba(0, 0, 0, 0.20);
}

.cb_bg_25 {
    background-color: rgba(0, 0, 0, 0.25);
}

.cb_bg_30 {
    background-color: rgba(0, 0, 0, 0.30);
}

.cb_bg_35 {
    background-color: rgba(0, 0, 0, 0.35);
}

.cb_bg_40 {
    background-color: rgba(0, 0, 0, 0.40);
}

.cb_bg_45 {
    background-color: rgba(0, 0, 0, 0.45);
}

.cb_bg_50 {
    background-color: rgba(0, 0, 0, 0.50);
}

.cb_bg_55 {
    background-color: rgba(0, 0, 0, 0.55);
}

.cb_bg_60 {
    background-color: rgba(0, 0, 0, 0.60);
}

.cb_bg_65 {
    background-color: rgba(0, 0, 0, 0.65);
}

.cb_bg_70 {
    background-color: rgba(0, 0, 0, 0.70);
}

.cb_bg_75 {
    background-color: rgba(0, 0, 0, 0.75);
}

.cb_bg_80 {
    background-color: rgba(0, 0, 0, 0.80);
}

.cb_bg_85 {
    background-color: rgba(0, 0, 0, 0.85);
}

.cb_bg_90 {
    background-color: rgba(0, 0, 0, 0.90);
}

.cb_bg_95 {
    background-color: rgba(0, 0, 0, 0.95);
}

.cb_bg_100 {
    background-color: rgba(0, 0, 0, 1);
}

.link_pure {
    color: rgba(0, 0, 0, 0.65);
}
.link_pure:link {
    text-decoration: none;
}
.link_pure:hover {
    color: #ff8000;
}

.c_green {
    color: #380;
}

.c_pointer{
    cursor: pointer;
}

.border_r_0 {
    border-radius: 0 !important;
}